p{
    font-family: serif;
    font-size: larger;

font-style: normal;

}

.container-two{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-rows:  2fr 2fr ;
    height: 100vh;
    column-gap: 30px;
    
    
    
    
}




body{
    
    background-color:khaki;
    
    
    

}

 .list-stlye li{
    list-style: none;
}
a{
    text-decoration: none;
    color:greenyellow;
    background-color: black;
}

h1{
    font-family: serif;
    margin-left: 10px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    
    

}

.container-2{
    display: flex;
    justify-content: center;
    align-self: center;
    
}

h2{
    margin-left: 10px;
    background-color: black;
    color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font: 1.3em serif;
    display: inline;
}
 p{
    font-family: sans-serif;
    margin-left: 10px;
    text-align: left;
    text-align: justify;
 }
;
  .list-stlye li  {
    list-style: none;
    text-align: left;
 }


 a[href^="tel"]::before{
    content: " 🌐 ";
 }

 a[href^="mailto"]::before{
    content: " 💌 ";
 }
 



 @media (min-width:319px ) and (max-width:1200px) {
    h1{
        display: block;
    }
    .container-2{
        display: block;
    }

    .container-two{
        display: block;
    }
    .container-2{
        display: flex;
        justify-content: center;
        align-self: center;
        
    }
 }

 